footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: em(50) em(33);
    background-color: $lightGray;

    > img {
        width: em(55);
        height: em(55);
        margin-bottom: em(50);
    }
}

.footer_links {
    display: flex;
    flex-direction: column;

    li {
        margin-bottom: em(35);
    }
    li:last-child {
        margin-bottom: em(50);
    }
    a {
        text-decoration: none;
        color: $darkGrayishBlue;
    }
    a:hover,
    a:focus {
        color: $strongCyan;
    }
}

.footer_icons {
    display: flex;
    align-items: center;

    img {
        width: em(21);
        height: em(21);
    }

    a:not(:last-child) {
        margin-right: em(40);
    }
}

.footer_icons a:hover,
.footer_icons a:focus {
    filter: invert(63%) sepia(89%) saturate(336%) hue-rotate(121deg) brightness(81%) contrast(97%);
}