html {
    font-size: 1.125em;
    box-sizing: border-box;
}

*,*::before,*::after {
    box-sizing: inherit;
}

body {
    font-family: $font;
    -webkit-font-smoothing: antialiased;
    line-height: 1.3;
}

h1 {
    font-size: em(30);
    font-weight: 600;
    color: $darkGrayishBlue;
}

h2 {
    font-size: em(24);
    font-weight: 600;
    color: $darkGrayishBlue;
}

h3 {
    font-size: em(20);
    font-weight: 600;
    color: $darkGrayishBlue;
}

p {
    font-size: 0.8888888888888889em; // 16px / 18px
    color: $grayishBlue;
}

li a,
a {
    font-size: 0.8888888888888889em;
}

a:hover,
a:focus {
    outline: none;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    display: inline-flex;
    width: 100%;
    text-decoration: none;
    color: $white;
    padding: em(15) em(80);
    border-radius: em(500);
    &:not(:last-child) {
        margin-bottom: em(25);
    }
}

.btn-green {
    background-color: $strongCyan;
    border-bottom: em(3) solid darken($strongCyan, 7.5);

    &:hover {
        background-color: lighten($strongCyan, 7.5);
        border-color: $strongCyan;
    }
}

.btn-blue {
    background-color: $lightBlue;
    border-bottom: em(3) solid darken($lightBlue, 7.5);

    &:hover {
        background-color: lighten($lightBlue, 7.5);
        border-color: $lightBlue;
    }
}