header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("/img/bg-header-mobile.png") top left no-repeat;
    background-size: 100% auto;
    text-align: center;
    padding: 0 em(33);
    margin-bottom: em(200);

    h1 {
        margin-bottom: em(25, 30);
    }

    p {
        margin-bottom: em(50, 16);
    }
}

.logo {
    width: em(125);
    height: em(125);
    margin: em(125) 0 em(75) 0;
}