.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 em(33);
    margin-bottom: em(200);

    h2 {
        margin-bottom: em(25, 24);
    }

    p {
        margin-bottom: em(60, 16);
    }

    img {
        width: 100%;
        height: auto;
    }
}